<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>Document</title>
</head>
<body>
    <center>
        <h1>conditions</h1>
    <!--
        <h1>if condition</h1>
    {% if age > 18 %} 
       <h1>{{name}} is major</h1>
    {% endif %} 
    
    

        <h1>if else condition</h1>
    {% if age > 18 %}
        <h1>{{name}} is major</h1>
    {% else %}
        <h1>{{name}} is minor</h1>
    {% endif %}
    
    


        <h1>if-elif condition</h1>
    {% if age < 10 %}
        <h1>{{name}} is child</h1>
    {% elif age > 10 and age < 15 %}
        <h1>{{name}} is teenager</h1>
    {% elif age > 18 %}
        <h1>{{name}} is major</h1>
    {% else %}
        <h1>{{name}} is older</h1>
    {% endif %}



        <h1>nested-if</h1>
    {% if marks > 40 %}
            {% if marks > 80 %}
               <h1>{{name}} got first rank</h1>
            {% else %}
               <h1>{{name}} got second rank</h1>
            {% endif %}
    {% else %}
            {% if marks > 30 and marks <= 40 %}
               <h1>{{name}} just passed</h1>
            {% else %}
               <h1>{{name}} is failed</h1>
            {% endif %}
    {% endif %}
    -->
    
        <h1>for loop</h1>
    {% for i in name %}
          <h1>{{i}}</h1>
    {% endfor %}
        </center>
    

    
</body>
</html>